@include vp-767 {
  .accordion__item .accordion__body {
    display: none;
  }

  .accordion__header {
    position: relative;
  }

  .accordion__header::before {
    position: absolute;
    top: 27px;
    right: 0;
    width: 15px;
    height: 1px;
    background-color: $color-grey;
    content: "";
  }

  .accordion__item:not(.accordion__item--show) .accordion__header::after {
    position: absolute;
    top: 20px;
    right: 7px;
    width: 1px;
    height: 15px;
    background-color: $color-grey;
    content: "";
  }

  .accordion__item--nojs .accordion__header::after,
  .accordion__item--nojs .accordion__header::before {
    display: none;
  }

  .accordion__item.accordion__item--nojs .accordion__body,
  .accordion__item.accordion__item--show .accordion__body {
    display: block;
  }
}



