.btn {
  display: inline-flex;
  margin: 10px 0;
  padding: 15px 25px;
  font-family: $ff-roboto-condensed;

  border: none;
  cursor: pointer;

  transition: opacity $trans-default;

  &:disabled {
    opacity: 0.5;

    pointer-events: none;
  }

  @media (hover: hover), screen and (min-width: 0\0) {
    &:hover,
     {
      opacity: 0.8;
      outline: none;
    }
  }

  &:focus {
    opacity: 0.8;
    outline: none;
  }
}
