.products {
  padding-top: 64px;
  padding-bottom: 124px;
  background-color: $color-default-black;

  @include vp-1023 {
    padding-top: 55px;
    padding-bottom: 59px;
  }

  @include vp-767 {
    padding-top: 47px;
    padding-bottom: 42px;
  }
}

.products h2 {
  margin-bottom: 54px;
  font-weight: 400;
  font-size: 36px;
  line-height: 51px;
  color: $color-default-white;

  @include vp-1023 {
    margin-bottom: 38px;
  }

  @include vp-767 {
    display: none;
  }
}

.products h3 {
  display: none;

  @include vp-767 {
    display: block;
    margin-bottom: 28px;
    font-weight: 400;
    font-size: 28px;
    line-height: 39px;
    color: $color-default-white;
  }
}

.products__card-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  gap: 85px;
  padding: 0;

  @include vp-1919 {
    gap: 75px;
  }

  @include vp-1439 {
    gap: 36px;
  }

  @include vp-1279 {
    gap: 10px;
  }

  @include vp-1023 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }

  @include vp-767 {
    gap: 0;
  }
}

.products__card-item a:hover,
.products__card-item a:focus {
  opacity: 0.5;
}

.products__card-item {
  position: relative;
  width: 350px;
  height: 650px;
  overflow: hidden;
  background-color: $color-bg-card;

  @include vp-1279 {
    width: 280px;
    height: 520px;
  }

  @include vp-1023 {
    width: 670px;
    height: 250px;
  }

  @include vp-767 {
    width: 100%;
    margin-bottom: 30px;
  }

  @include vp-374 {
    width: 270px;
  }
}

.products__card-item img {
  position: absolute;
  width: 100%;
  height: 817px;
  object-fit: cover;
}

.products__card-item--card-1 img {
  object-position: -190px -116px;

  @include vp-1023 {
    object-position: -246px -549px;
  }

  @include vp-767 {
    object-position: -375px -298px;
  }
}

.products__card-item--card-2 img {
  object-position: -535px -121px;

  @include vp-1023 {
    object-position: -627px -314px;
  }

  @include vp-767 {
    object-position: -365px -537px;
  }
}

.products__card-item--card-3 img {
  object-position: -895px -111px;

  @include vp-1023 {
    object-position: -148px -358px;
  }

  @include vp-767 {
    object-position: -883px -394px;
  }
}

.products__card-list h4 {
  position: absolute;
  top: 47px;
  left: 40px;
  max-width: 190px;
  margin: 0;
  font-family: $ff-roboto-condensed;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: $color-default-white;

  @include vp-1023 {
    top: 37px;
    left: 45px;
    max-width: 150px;
  }

  @include vp-767 {
    top: 28px;
    left: 30px;
    max-width: 135px;
    font-size: 18px;
    line-height: 30px;
  }
}

.products__card-list span {
  position: absolute;
  right: 0;
  bottom: 0;
  display: inline-block;
  width: 60px;
  height: 60px;
  margin: 0;
  vertical-align: middle;
  border-radius: 3px 0 0 0;
  background-color: $color-blue;

  @include vp-767 {
    width: 40px;
    height: 40px;
  }

  &::before {
    position: absolute;
    top: 26px;
    right: 26px;
    width: 5px;
    height: 9px;
    background-image: url("../img/card_arrow.svg");
    background-size: 100%;
    background-repeat: no-repeat;
    content: "";

    @include vp-767 {
      top: 16px;
      right: 17px;
      width: 3px;
      height: 7px;
    }
  }
}
