.container {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  padding: 0 350px;

  @include vp-1919 {
    padding: 0 150px;
  }

  @include vp-1439 {
    //max-width: 1440px;
    padding: 0 70px;
  }

  @include vp-1279 {
    padding: 0 70px;
  }

  @include vp-1023 {
    padding: 0 50px;
  }

  @include vp-767 {
    //max-width: 320px;
    padding: 0 25px;
  }
}
